<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Order form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>

	<h1 class="heading text-center display-2"> Order form</h1>
	<div class="container">

		{% include "form.html" %}

		{% include "summary.html" %}

	</div>
	<script type="text/javascript" src="static/js/script.js"></script>

</body>

</html>