<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Order form</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="static/css/style.css">
</head>

<body>

	<!-- Currency Converter -->
	<h1 class="heading text-center display-2"> Order form</h1>
	<div class="container">
		<form name="order_form" action="" method="post" novalidate>
			<fieldset class="form-group">
				{{ form.hidden_tag() }}
				<hr>

				<div class="row">
					<div class="col-sm-6">
						{{ form.first_name.label }}<br>
						{{ form.first_name(class="form-control") }}
	
						{% for error in form.first_name.errors %}
						<span class="error-message">
							{{ error }}
						</span>
						{% endfor %}
					</div>
					<div class="col-sm-6">
						{{ form.last_name.label }}<br>
						{{ form.last_name(class="form-control") }}
	
						{% for error in form.last_name.errors %}
						<span class="error-message">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
						{{ form.email.label }}<br>
						{{ form.email(class="form-control") }}
	
						{% for error in form.email.errors %}
						<span class="error-message">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col-sm-6">

						{{ form.product.label }}<br>
						{{ form.product(class="form-control") }}

						{% for error in form.product.errors %}
						<span class="error-message">{{ error }}</span>
						{% endfor %}
					</div>
					<div class="col-sm-6">

						{{ form.quantity.label }}<br>
						{{ form.quantity(class="form-control") }}

						{% for error in form.quantity.errors %}
						<span class="error-message">{{ error }}</span>
						{% endfor %}
					</div>
				</div>

				<div class="row">
					<div class="col-sm-6">
							Changed by JS: <span id="result"></span>
						
					</div>
					<div class="col-sm-6">
						Changed by WTForms (after enter): 
						{% if form.quantity.data %}
						{{ form.quantity.data * 100 }}
						{% endif %}
					</div>
				</div>

				<div>
					<label for="oamount">
						Amount to Convert :
					</label>
					<input type="text" class="form-control" placeholder="0.00" id="oamount">
				</div>

				<div class="row">

					<div class="col-sm-6">
						<div class="input-group mb-3">
							<div class="input-group-prepend">
								<span class="input-group-text">To</span>
							</div>
							<select class="form-control to" id="sel2">
								<option value="">Select One …</option>
								<option value="USD">USD</option>
								<option value="AED">AED</option>
								<option value="ARS">ARS</option>
								<option value="AUD">AUD</option>
								<option value="BGN">BGN</option>
								<option value="BRL">BRL</option>
								<option value="BSD">BSD</option>
								<option value="CAD">CAD</option>
								<option value="CHF">CHF</option>
								<option value="CLP">CLP</option>
								<option value="CNY">CNY</option>
								<option value="COP">COP</option>
								<option value="CZK">CZK</option>
								<option value="DKK">DKK</option>
								<option value="DOP">DOP</option>
								<option value="EGP">EGP</option>
								<option value="EUR">EUR</option>
								<option value="FJD">FJD</option>
								<option value="GBP">GBP</option>
								<option value="GTQ">GTQ</option>
								<option value="HKD">HKD</option>
								<option value="HRK">HRK</option>
								<option value="HUF">HUF</option>
								<option value="IDR">IDR</option>
								<option value="ILS">ILS</option>
								<option value="INR">INR</option>
								<option value="ISK">ISK</option>
								<option value="JPY">JPY</option>
								<option value="KRW">KRW</option>
								<option value="KZT">KZT</option>
								<option value="MVR">MVR</option>
								<option value="MXN">MXN</option>
								<option value="MYR">MYR</option>
								<option value="NOK">NOK</option>
								<option value="NZD">NZD</option>
								<option value="PAB">PAB</option>
								<option value="PEN">PEN</option>
								<option value="PHP">PHP</option>
								<option value="PKR">PKR</option>
								<option value="PLN">PLN</option>
								<option value="PYG">PYG</option>
								<option value="RON">RON</option>
								<option value="RUB">RUB</option>
								<option value="SAR">SAR</option>
								<option value="SEK">SEK</option>
								<option value="SGD">SGD</option>
								<option value="THB">THB</option>
								<option value="TRY">TRY</option>
								<option value="TWD">TWD</option>
								<option value="UAH">UAH</option>
								<option value="UYU">UYU</option>
								<option value="ZAR">ZAR</option>
							</select>
						</div>
					</div>
				</div>

				<div class="text-center">
						{{ form.submit(class="button-27") }}
				</div>
			</fieldset>
		</form>



		<div class="order-confirmation">
			<h1>Order confirmation</h1>
			<hr>
			<div class="col-confirmation">
				<p>First name: Jan</p>
			</div>
			<div class="col-confirmation">
				<p>Last name: Novák</p>
			</div>
			<div class="col-confirmation">
				<p>Email: jan.novak@gmail.com</p>
			</div><br>
			<div class="col-confirmation">
				<p>Ordered product: product2</p>
			</div>
			<div class="col-confirmation">
				<p>Quantity: 1</p>
			</div>
			<div class="col-confirmation">
				<p>Price: 1000 Kč</p>	
			</div>
			<div class="col-confirmation">
				<p>DPH: 200 Kč</p>
			</div>
			<div class="col-confirmation">
				<p>Total price: 1200 Kč</p>
			</div>
		</div>


	</div>
	<script type="text/javascript" src="static/js/script.js"></script>

</body>

</html>