<div class="order-confirmation">
    <h1>Order confirmation</h1>
    <hr>
    <div class="col-confirmation">
        <p>First name: Jan</p>
    </div>
    <div class="col-confirmation">
        <p>Last name: Novák</p>
    </div>
    <div class="col-confirmation">
        <p>Email: jan.novak@gmail.com</p>
    </div><br>
    <div class="col-confirmation">
        <p>Ordered product: product2</p>
    </div>
    <div class="col-confirmation">
        <p>Quantity: 1</p>
    </div>
    <div class="col-confirmation">
        <p>Price: 1000 Kč</p>	
    </div>
    <div class="col-confirmation">
        <p>DPH: 200 Kč</p>
    </div>
    <div class="col-confirmation">
        <p>Total price: 1200 Kč</p>
    </div>
</div>