<div>
    <h1>Summary:</h1>
    <p>First name: {{summary["first_name"]}}</p>
    <p>Last name: {{summary["last_name"]}}</p>
    <p>Email: {{summary["email"]}}</p>
    <p>Product id: {{summary["product_id"]}}</p>
    <p>Product name: {{summary["product_name"]}}</p>
    <p>Quantity: {{summary["quantity"]}}</p>
    <p>Product price: {{summary["product_price"]}} CZK</p>
    <p>Subtotal: {{summary["subtotal"]}} CZK</p>
    <p>VAT rate: {{summary["vat_rate"]}} %</p>
    <p>VAT: {{summary["vat"]}} CZK</p>
    <p>Product price with VAT: {{summary["product_price_with_vat"]}} CZK</p>
    <p>Total price: {{summary["converted_price"]}} {{summary["rate_code"]}}</p>

</div>

<!-- <div class="order-confirmation">
    <h1>Summary</h1>
    <hr>
    <div class="col-confirmation">
        <p>First name: {{summary["first_name"]}}</p>
    </div>
    <div class="col-confirmation">
        <p>Last name: {{summary["last_name"]}}</p>
    </div>
    <div class="col-confirmation">
        <p>Email: {{summary["email"]}}</p>
    </div><br>
    <div class="col-confirmation">
        <p>Product id: {{summary["product_id"]}}</p>
    </div>
    <div class="col-confirmation">
        <p>Product name: {{summary["product_name"]}}</p>
    </div>
    <div class="col-confirmation">
        <p>Quantity: {{summary["quantity"]}}</p>
    </div>
    <div class="col-confirmation">
        <p>Product price: {{summary["product_price"]}} CZK</p>	
    </div>
    <div class="col-confirmation">
        <p>Subtotal: {{summary["subtotal"]}} CZK</p>
    </div>
    <div class="col-confirmation">
        <p>VAT rate: {{summary["vat_rate"]}} %</p>
    </div>
    <div class="col-confirmation">
        <p>VAT: {{summary["vat"]}} CZK</p>
    </div>
    <div class="col-confirmation">
        <p>Product price with VAT: {{summary["product_price_with_vat"]}} CZK</p>
    </div>
    <div class="col-confirmation">
        <p>Total price: {{summary["converted_price"]}} {{summary["rate_code"]}}</p>
    </div>
</div> -->